<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color: yellow;
            text-align: center;
            font-style: oblique;
            background-color: darkslategray;
        }
    </style>
</head>
<body>
    <h1>Love Stories</h1>
    <p><h2>
        The aim of this side is to share your thought with other persons 
    </h2></p>
    <p><h2>
        Your beautiful love stories your brain thought and your heart feelings.
    </h2></p>
    <p><h2>
        Your time you spent with your best friend.
    </h2></p>
    <img class="p-3" src="{% static 'images/three.jpg' %}" alt="" srcset="" height="200px">
    <img class="p-3" src="{% static 'images/love.jpg' %}" alt="" srcset="" height="200px">
    <img class="p-3" src="{% static 'images/images2.jpg' %}" alt="" srcset="" height="200px">
</body>
</html>